{% import 'macros/forms.html' as forms %}

{% extends "auth/layout.html" %}

{% block head_title_content %}{{ _('Sign in') }}{% endblock %}

{% block title %}{{ _('Welcome back!') }}{% endblock %}

{% macro oauth_provider_button(oauth_provider, tenant) %}
  {% set display_name, logo_svg = get_oauth_provider_branding(oauth_provider) %}
  <a href="{{ url_for('oauth:authorize') }}?tenant={{ tenant.id }}&provider={{ oauth_provider.id }}" class="btn w-full justify-start border border-primary hover:border-primary-hover text-primary-500 hover:text-primary-hover">
    {% if logo_svg %}
      <img src="data:image/svg+xml;base64,{{ logo_svg }}" class="w-4 mr-4" />
    {% endif %}
    {{ _('Sign in with %(provider)s', provider=display_name) }}
  </a>
{% endmacro %}

{% block auth_form %}
  {% if flash_message %}
    <div id="flash-message" class="flash-message">
      <span id="close-btn" class="close-btn">&times;</span>
      <p>{{ flash_message }}</p>
    </div>
    <script>
      // Get the modal
      var flashMessage = document.getElementById('flash-message');

      // Get the <span> element that closes the modal
      var closeBtn = document.getElementById('close-btn');

      // When the user clicks on <span> (x), close the modal
      closeBtn.onclick = function() {
        flashMessage.style.display = 'none';
      }

      // Automatically close the modal after 5 seconds
      setTimeout(function() {
        flashMessage.style.display = 'none';
      }, 5000);
    </script>
    <style>
      .flash-message {
        display: block; 
        position: fixed; 
        top: 20px; 
        right: 20px; 
        background-color: #4CAF50; 
        color: white; 
        padding: 15px; 
        border-radius: 4px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        font-size: 16px;
        animation: fadeInOut 5s forwards;
      }

      .close-btn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 20px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
      }

      .close-btn:hover {
        color: #bbb;
      }

      @keyframes fadeInOut {
        0% {opacity: 0;}
        10% {opacity: 1;}
        90% {opacity: 1;}
        100% {opacity: 0;}
      }
    </style>
  {% endif %}

  <form method="POST" action="{{ tenant.url_path_for(request, 'auth:login') }}">
    <div class="space-y-4">
      {{ forms.form_field(form.email) }}
      {{ forms.form_field(form.password) }}
      {{ forms.form_csrf_token(form) }}
    </div>
    <div class="flex items-center justify-between mt-6">
      <div class="mr-1">
        <a class="text-sm underline hover:no-underline" href="{{ tenant.url_path_for(request, 'reset:forgot') }}">{{ _('I forgot my password') }}</a>
      </div>
      <button type="submit" class="btn bg-primary hover:bg-primary-hover text-white ml-3">{{ _('Sign in') }}</button>
    </div>
  </form>
  {% if oauth_providers | length > 0 %}
    <div class="pt-5 mt-6 border-t border-light space-y-2">
      {% if oauth_provider_login_hint %}
        <div class="relative">
          {{ oauth_provider_button(oauth_provider_login_hint, tenant )}}
          <div class="absolute top-0 right-0 -mr-2 transform -translate-y-1/2 text-xs inline-flex font-medium bg-primary-500 text-white rounded-full text-center px-2.5 py-0.5">{{ _('Used last') }}</div>
        </div>
      {% endif %}
      {% for oauth_provider in oauth_providers %}
        {% if oauth_provider != oauth_provider_login_hint %}
          {{ oauth_provider_button(oauth_provider, tenant )}}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  {% if tenant.registration_allowed %}
    <div class="pt-5 mt-6 border-t border-light">
      <div class="text-sm">
        {{ _("Don't have an account?") }}
        <a href="{{ tenant.url_path_for(request, 'register:register') }}" class="font-medium text-primary-500 hover:text-primary-600">{{ _('Sign up') }}</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
